<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705495908220-mb3ai70ouuq0tv37bc8kde9i8s5m9759.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705495908220-mb3ai70ouuq0tv37bc8kde9i8s5m9759</string>
	<key>API_KEY</key>
	<string>AIzaSyBnMTOIHXLdj1z6H2A9q_MMMBiK3adiC4c</string>
	<key>GCM_SENDER_ID</key>
	<string>705495908220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gilang.uber-ride</string>
	<key>PROJECT_ID</key>
	<string>uber-61648</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-61648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705495908220:ios:259ab14386b8b2c79aeef9</string>
</dict>
</plist>